#cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
}
#empregado {
    display: flex;
    justify-content: center;
    align-items: center;
}
#quantidadeFilhos {
    display: flex;
    justify-content: center;
    align-items: center;
}
#salario {
    display: flex;
    justify-content: center;
    align-items: center;
}
#formulario {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#formulario input {
    display: flex;
    justify-content: center;
}